<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="companies.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let company of companies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3> {{ company.companyName}} </h3>
      </mat-panel-title>
      <mat-panel-description>
        <h4> {{ company.companyAddress.street1}} </h4>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="info-text mat-body-1">
      {{company.companyName}}
      <br>
      {{company.companyAddress.street1}}
      <br>
      {{company.companyAddress.street2}}
      <br>
      {{company.companyAddress.city}}, {{company.companyAddress.state}}
      <br>
      {{company.companyAddress.zipcode}}
    </p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button
        mat-button color="primary" [routerLink]="['/edit-company', company.id]">
        EDIT
      </button>
      <button
        mat-button color="warn"
        (click)="onDelete(company.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
  <!--<mat-list-item> Pepper </mat-list-item>-->
  <!--<mat-list-item> Salt </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->

</mat-accordion>

<h1 class="mat-h1" *ngIf="companies.length <= 0 && !isLoading">
  No companies added!
</h1>
