<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="companies.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let company of companies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3> {{ company.companyName}} </h3>
      </mat-panel-title>
      <mat-panel-description>

        <span class="descriptionSpan">
          <h4 class="panelDescription">
          {{ company.companyAddress.street1}}
          </h4>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="eventsTable" *ngIf="dataSource">
      <table mat-table [dataSource]="getEventTable(company)">
        <ng-container matColumnDef="eventDate">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let event"> {{event.eventDate | date :'shortDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="eventType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let event"> {{event.eventType}} </td>
        </ng-container>

        <ng-container matColumnDef="carNumber">
          <th mat-header-cell *matHeaderCellDef>CAR #</th>
          <td mat-cell *matCellDef="let event"> {{event.carNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let event"> {{event.statusOption}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" [style.background-color]="getColor(myRowData.statusOption)"></tr>

      </table>
    </div>

    <mat-action-row *ngIf="userIsAuthenticated">

      <button
        class="deleteButton"
        mat-button color="warn"
        (click)="onDelete(company._id)">
        DELETE
      </button>

      <span class="buttonSpace"></span>
      <button
        class="editCompanyButton"
        mat-stroked-button color="primary" [routerLink]="['/edit-company', company._id]">
        EDIT INFO
      </button>

      <button
        class="sendEmailButton"
        mat-raised-button color="primary" (click)="sendEmail(company._id)">
        EMAIL REPORT
      </button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>

<h1 class="blankCompanies mat-h1" *ngIf="companies.length <= 0 && !isLoading">
  No companies added!
</h1>
