/*:host {*/
  /*display: block;*/
  /*margin-top: 1rem;*/
/*}*/

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-accordion {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
table {
  width: 100%;
}

.blankCompanies {
  text-align: center;
  margin: 16px;
}

.buttonSpace {
  flex: 1 1 0;
}
.printEventLogButton {
  margin-left: 16px;
  margin-right: 16px;
}

.sendEmailButton {
  margin-left: 16px;
  margin-right: 16px;
}

mat-panel-description {
  text-align: right;

}

mat-panel-title {
  width: 280px;
}

.descriptionSpan {
  float: right;
}
