<mat-accordion *ngIf="companies.length > 0">
  <mat-expansion-panel *ngFor="let company of companies">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ company.companyName}}
      </mat-panel-title>
      <mat-panel-description>
        {{ company.companyAddress.street1}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="info-text mat-body-1">
      {{company.companyName}}
      <br>
      {{company.companyAddress.street1}}
      <br>
      {{company.companyAddress.street2}}
      <br>
      {{company.companyAddress.city}}, {{company.companyAddress.state}}
      <br>
      {{company.companyAddress.zipcode}}
      This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <!--<mat-list-item> Pepper </mat-list-item>-->
  <!--<mat-list-item> Salt </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->

</mat-accordion>

<p *ngIf="companies.length <= 0">
  No companies added!
</p>
