button.submitButton {
  float: right;
}

mat-spinner {
  margin: auto;
}

h4 {
  text-align: center;
}



mat-form-field, mat-checkbox{
  margin-left: 16px;
}


mat-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
