button.submitButton {
  float: right;
}

mat-spinner {
  margin: auto;
}

h4 {
  text-align: center;
}



.fieldSalesEmail,
.fieldQualityEmail,
.fieldLogisticsEmail,
.fieldStreet2,
.fieldState{
  margin-left: 8px;
}

