button.submitButton {
  float: right;
}

mat-spinner {
  margin: auto;
}

h4 {
  text-align: center;
}



.fieldSalesEmail,
.fieldQualityEmail,
.fieldLogisticsEmail,
.fieldDifferentEmail,
.fieldStreet2,
.fieldState,
.fieldExpirationDate,
.fieldCertNumber,
.fieldCertRegistrar{
  margin-left: 8px;
}

form {
  /*position: absolute;*/
  /*top: 15px;*/
  /*left: 15px;*/
  /*right: 15px;*/
  /*bottom: 15px;*/
}
