<mat-form-field>
  <input
    matInput
    placeholder="Company Name"
    [(ngModel)]="companyNameVar">
</mat-form-field>

<div>
  <mat-form-field>
    <input
      matInput
      placeholder="Street 1"
      [(ngModel)]="street1Var">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      placeholder="Street 2"
      [(ngModel)]="street2Var">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input
      matInput
      placeholder="City"
      [(ngModel)]="cityVar">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select
      placeholder="State"
      [(ngModel)]="stateVar">
      <mat-option
        *ngFor="let state of states"
        [value]="state.label"
      >
        {{state.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Zipcode" [(ngModel)]="zipcodeVar">
  </mat-form-field>
</div>

<hr>
<button
  mat-raised-button
  (click)="onCancelCompany()"
  color="warn">
  Cancel
</button>
<button
  mat-raised-button
  (click)="onAddCompany()"
  color="primary" >
  Save Company
</button>
