<mat-card>
  <mat-spinner
    *ngIf="isLoading"></mat-spinner>
  <form
    *ngIf="!isLoading"
    (submit)="onLogin(loginForm)"
    #loginForm="ngForm">
    <img src="../assets/TL_Logo.png">
    <br>

    <mat-form-field
      class="fieldUsername">
      <input
        matInput
        type="text"
        placeholder="Username"
        name="username"
        ngModel
        #usernameInput="ngModel"
        required>
      <mat-error
        *ngIf="usernameInput.invalid">
        Please enter valid username
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field
      class="fieldPassword">
      <input
        matInput
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required>
      <mat-error
        *ngIf="passwordInput.invalid">
        Please enter valid password
      </mat-error>
    </mat-form-field>
    <br>
    <button
      class="submitButton"
      mat-raised-button
      type="submit"
      color="primary" *ngIf="!isLoading">
      LOGIN
    </button>
  </form>
</mat-card>
