
h1.mat-display-1 {
  margin-bottom: 0;
}

.eventListDisplay {
  position: absolute;
  width: 47%;
  left: 0;
  margin-top: 32px;
  /*top: 15px;*/
  /*left: 15px;*/
  /*right: 15px;*/
  /*bottom: 15px;*/
}

.eventFormDisplay {
  position: absolute;
  width: 47%;
  right: 0;
  margin-top: 48px;
}

.addButton {
  margin-top: 16px;
}

.emailbutton {
  margin-top: 16px;
  margin-left: 16px;
}

