<div class="companiesMainContainer">
  <h1 class="mat-display-1">Companies</h1>

  <button class="addButton"
          mat-raised-button
          color="primary"
          (click)="onAddButtonSelect()"
          *ngIf="(associatedUserCompany === 'tl_admin' || 'tl_employee')">
    ADD NEW COMPANY
  </button>

  <button class="emailbutton"
          mat-raised-button
          type="submit"
          color="primary" (click)="onSendCompanyRegistration()"
          *ngIf="(associatedUserCompany === 'tl_admin')">
    SEND COMPANY REGISTRATION
  </button>
  <!--<mat-form-field class="example-full-width" appearance="outline">-->
    <!--<mat-label>Company Email</mat-label>-->
    <!--<input matInput placeholder="Email">-->
  <!--</mat-form-field>-->
  <br>
  <mat-grid-list [cols]="2">
  <div
    class="dashboard-card companyListDisplay">
    <app-company-list (editMode)="onEditCompany($event)"></app-company-list>
  </div>
  <mat-card
    class="dashboard-card companyFormDisplay"
    *ngIf="addButtonSelect">
    <app-new-company (hideNewForm)="onHideForm($event)"></app-new-company>
  </mat-card>

  </mat-grid-list>
</div>
