mat-accordion {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

mat-form-field {
  margin-left: 16px;
}

.fieldEventType {
  width: 75px;
}

.fieldEventDate {
  width: 120px;
}

.fieldCarNumber {
  width: 150px;
}

.fieldStatusOption {
  width: 75px;
}

.fieldLotNumber {
  width: 150px;
}

.fieldQuantityReject {
  width: 120px;
}
form {
  margin-top: 16px;
}

mat-spinner {
  margin: auto;
}

.blankEvents {
  text-align: center;
  margin: 16px;
}

.eventTypePanelDescription {
  float: right;

}
.eventDatePanelDescription {
  /*text-align: right;*/
  float: right;
}

.eventPanelDescription {
  clear: both;
}

.eventTypeDescription {
  width: 60px;
}
.descriptionSpace {
  flex: 1 1 0;
}

.buttonSpace {
  flex: 1 1 0;
}

.deleteEventButton {
  margin-left: 16px;
}

.editCompanyButton {
  margin-right: 16px;
}


mat-panel-title {
  width: 260px;
}
