<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="events.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let event of events">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3> {{ event.companyName}} </h3>
      </mat-panel-title>
      <mat-panel-description>
        <h4> {{ event.eventType}} </h4>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="info-text mat-body-1">
      {{event.eventType}}
      <br>
      {{event.eventType}}
      <br>
      {{event.eventType}}
      <br>
      <br>
    </p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button
        mat-button color="primary" [routerLink]="['/edit', event.id]">
        EDIT
      </button>
      <button
        mat-button color="warn"
        (click)="onDelete(event.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
  <!--<mat-list-item> Pepper </mat-list-item>-->
  <!--<mat-list-item> Salt </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->

</mat-accordion>

<h1 class="mat-h1" *ngIf="events.length <= 0 && !isLoading">
  No companies added!
</h1>
