mat-accordion {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

mat-form-field {
  margin-left: 16px;
}

.fieldEventType {
  width: 75px;
}

.fieldEventDate {
  width: 120px;
}

.fieldCarNumber {
  width: 150px;
}

.fieldStatusOption {
  width: 75px;
}

.fieldLotNumber {
  width: 150px;
}

.fieldQuantityReject {
  width: 120px;
}
form {
  margin-top: 16px;
}

mat-spinner {
  margin: auto;
}
