<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="events.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let event of events">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3> {{ event.companyName}} </h3>
      </mat-panel-title>
      <mat-panel-description>
        <h4> {{ event.eventType}} </h4>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="info-text mat-body-1"></p>
    Type: {{event.eventType}}
    <br>
    Date: {{event.eventDate}}
    <br>
    CAR Number: {{event.carNumber}}
    <br>
    Lot Number: {{event.lotNumber}}
    <br>
    T&L Part Number: {{event.tlPartNumber}}
    <div *ngIf="event.eventType == 'Quality'">
      <br>
      Quantity Rejected: {{event.quantityReject}}
    </div>
    <div *ngIf="event.eventType == 'Delivery'">
      <br>
      Required Date: {{event.requiredDate}}
      <br>
      Actual Date: {{event.actualDate}}
    </div>
    <br>
    Reason: {{event.rootCause}}
    <br>
    Status: {{event.statusOption}}
    <br>

    <mat-action-row *ngIf="userIsAuthenticated">
      <button
        mat-button color="primary" [routerLink]="['/edit-event', event.id]">
        EDIT
      </button>
      <button
        mat-button color="warn"
        (click)="onDelete(event.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
  <!--<mat-list-item> Pepper </mat-list-item>-->
  <!--<mat-list-item> Salt </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->

</mat-accordion>

<h1 class="mat-h1" *ngIf="events.length <= 0 && !isLoading">
  No companies added!
</h1>
