<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="events.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let event of events" >
    <mat-expansion-panel-header [style.background-color]="getColor(event.statusOption)">
      <mat-panel-title>
        <h3> {{ event.companyName}} </h3>
      </mat-panel-title>
      <mat-panel-description>
        <h4> {{ event.eventType}} </h4>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form>
      <mat-form-field class="fieldEventType" appearance="outline">
        <mat-label>Type</mat-label>
        <input
          matInput
          value="{{event.eventType}}" readonly>
      </mat-form-field>

      <mat-form-field class="fieldEventDate" appearance="outline">
        <mat-label>Event Date</mat-label>
        <input
          matInput
          value="{{event.eventDate | date}}" readonly>
      </mat-form-field>

      <mat-form-field class="fieldCarNumber" appearance="outline">
        <mat-label>CAR Number</mat-label>
        <input
          matInput
          value="{{event.carNumber}}" readonly>
      </mat-form-field>

      <mat-form-field class="fieldLotNumber" appearance="outline">
        <mat-label>Lot Number</mat-label>
        <input
          matInput
          value="{{event.lotNumber}}" readonly>
      </mat-form-field>

      <mat-form-field class="fieldTlPartNumber" appearance="outline">
        <mat-label>T&L Part Number</mat-label>
        <input
          matInput
          value="{{event.tlPartNumber}}" readonly>
      </mat-form-field>

      <div *ngIf="event.eventType == 'Quality'">
        <mat-form-field class="fieldQuantityReject" appearance="outline">
          <mat-label>Quantity Rejected</mat-label>
          <input
            matInput
            value="{{event.quantityReject}}" readonly>
        </mat-form-field>
      </div>
      <div *ngIf="event.eventType == 'Delivery'">
        <mat-form-field class="fieldRequiredDate" appearance="outline">
          <mat-label>Required Delivery Date</mat-label>
          <input
            matInput
            value="{{event.requiredDate | date}}" readonly>
        </mat-form-field>

        <mat-form-field class="fieldActualDate" appearance="outline">
          <mat-label>Actual Delivery Date</mat-label>
          <input
            matInput
            value="{{event.actualDate | date}}" readonly>
        </mat-form-field>
      </div>

      <mat-form-field class="fieldRootCause" appearance="outline">
        <mat-label>Root Cause</mat-label>
        <input
          matInput
          value="{{event.rootCause}}" readonly>
      </mat-form-field>

      <mat-form-field class="fieldStatusOption" appearance="outline">
        <mat-label>Status</mat-label>
        <input
          matInput
          value="{{event.statusOption}}" readonly>
      </mat-form-field>
    </form>

    <mat-action-row *ngIf="userIsAuthenticated">
      <button
        mat-button color="primary" [routerLink]="['/edit-event', event.id]">
        EDIT
      </button>
      <button
        mat-button color="warn"
        (click)="onDelete(event.id)">DELETE</button>
    </mat-action-row>

  </mat-expansion-panel>
  <!--<mat-list-item> Pepper </mat-list-item>-->
  <!--<mat-list-item> Salt </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->

</mat-accordion>

<h1 class="blankEvents mat-h1" *ngIf="events.length <= 0 && !isLoading">
  No events added!
</h1>
