.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;

}

.analytics-dashboard-card {
  text-align: left;
}
.companyLabel {
  position: absolute;
  width: 50%;
  left: 0px;
  margin-top: 350px;
  text-align: center;
}

.companySection {
  position: absolute;
  width: 50%;
  left: 0px;
  margin-top: 380px;
  margin-bottom: 30px;

}

.eventLabel {
  position: absolute;
  width: 50%;
  right: 0px;
  margin-top: 350px;
  text-align: center;
}

.eventSection {
  position: absolute;
  width: 50%;
  right: 0;
  margin-top: 380px;
  margin-bottom: 30px;
}

h1.mat-display-1 {
  margin-bottom: 0;
}
