.grid-container {
  margin: 30px;
  top: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.app-is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-accent {
  /*color: #4fb3bf;*/
  color: white;
}

.mat-button {
  font-size: 16px;
}

mat-nav-list {
  width: 160px;
}

mat-sidenav {
  background-color: #3f51b5;
  color: white;
  border-top-width: thin;
  border-top:  #002984;
}

.footerContainer {
  /*position: absolute;*/
}

.footText {
  text-align: center;
}

a.mat-button.mat-accent {
  background-color: #4fb3bf;
  width: 160px;
}
