<div class="app-container" [class.app-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Supplier Management System</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 [(opened)]="opened">
      <mat-nav-list>
        <div class="loggedInOptions" *ngIf="userIsAuthenticated">

          <a mat-button routerLink="/dashboard" routerLinkActive="mat-accent" *ngIf="app.localStorageItem('username') =='tl_admin'">DASHBOARD</a>
          <br *ngIf="app.localStorageItem('username') =='tl_admin'">
          <a mat-button routerLink="/companies" routerLinkActive="mat-accent">COMPANIES</a>
          <br *ngIf="app.localStorageItem('username') =='tl_admin'">
          <a mat-button routerLink="/events" routerLinkActive="mat-accent">EVENTS</a>
          <br *ngIf="app.localStorageItem('username') =='tl_admin'">
          <a mat-button routerLink="/analytics" routerLinkActive="mat-accent" *ngIf="app.localStorageItem('username') =='tl_admin'">ANALYTICS</a>
          <br *ngIf="app.localStorageItem('username') =='tl_admin'">
          <a mat-button routerLink="/create-user" routerLinkActive="mat-accent" *ngIf="app.localStorageItem('username') =='tl_admin'">CREATE USER</a>
          <br *ngIf="app.localStorageItem('username') =='tl_admin'">
          <a mat-button routerLink="/user-settings" routerLinkActive="mat-accent" *ngIf="app.localStorageItem('username') =='tl_admin'">USER SETTINGS</a>
          <br *ngIf="app.localStorageItem('username') =='tl_admin'">
          <a mat-button (click)="onLogout()">LOGOUT</a>

        </div>
        <div class="loggedOutOptions" *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">LOGIN</a>
        </div>
      </mat-nav-list>

      <!--<ul>-->
        <!--<li>-->
          <!--<a mat-button routerLink="/login" routerLinkActive="mat-accent">LOGIN</a>-->
        <!--</li>-->
      <!--</ul>-->

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="grid-container">

        <router-outlet (activate)="onActivate($event)"></router-outlet>

      </div>
      <!--GET OUT YOURE NOT LOGGED IN-->

    </mat-sidenav-content>

  </mat-sidenav-container>
  <!--<footer class="footerContainer">-->
    <!--<div class="footText">Copyright 2015-2016</div>-->
  <!--</footer>-->
</div>

