<div>
  <h2 mat-dialog-title>NEW COMPANY REGISTRATION</h2>
  <hr>
  <mat-dialog-content>
    ARE YOU SURE YOU WANT TO DELETE {{data.companyName}}?
    <br>
    <!--<strong>{{data}}</strong>-->
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="reset" color="warn" (click)="onCloseCancel()">
      CANCEL
    </button>
    <button mat-raised-button type="submit" color="primary" (click)="onCloseConfirm(data.companyId)">
      CONFIRM
    </button>

  </mat-dialog-actions>
</div>
