.mat-form-field {
  margin-left: 16px;
}

.fieldEventType {
  width: 140px;
}

.fieldEventDate {
  width: 160px;
}

.fieldCarNumber {
  width: 150px;
}

.fieldStatusOption {
  width: 75px;
}

.fieldLotNumber {
  width: 150px;
}

.fieldQuantityReject {
  width: 180px;
}
.fieldTlPartNumber {
  /*width: 180px;*/

}

textarea {
  height: 43.5px;
}

h4 {
  text-align: center;
}

mat-spinner {
  margin: auto;
}
button.submitButton {
  float: right;
}
